@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color: #4caf50;
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-background: #000100;
    --header-text-color: white;
    --font-family: 'Poppins', Arial, sans-serif;
    --font-size: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family), serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 20px;
}

.header-title {
    margin: 0;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.main-block {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
}

.carousel-section {
    margin-bottom: 20px;
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    display: none;
}

.carousel-item img {
    width: 100%;
    border-radius: 8px;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.add-receipt {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.add-receipt:hover {
    background-color: #388e3c;
}

.delete-receipt {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.delete-receipt:hover {
    background-color: darkred;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.animate {
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}